<!--  加入 hidden 标签可以隐藏 component-->
<!--<app-header></app-header>-->
<!--<app-page1></app-page1>-->
<!--<app-page2 hidden></app-page2>-->
<!--<app-page3 hidden></app-page3>-->
<!--<app-footer></app-footer>-->


<!--  首先在 header 的标签中声明一个 headerComponent 选择器，即代表选择了 headerComponent-->
<!--<app-header #headerComponent></app-header>-->
<!--<app-page1 [hidden] = "headerComponent.pageRequested !== 1"></app-page1>-->
<!--<app-page2 [hidden] = "headerComponent.pageRequested !== 2"></app-page2>-->
<!--<app-page3 [hidden] = "headerComponent.pageRequested !== 5"></app-page3>-->
<!--<app-footer></app-footer>-->

<app-header #headerComponent></app-header>
<app-page1 *ngIf="headerComponent.pageRequested === 1"></app-page1>
<app-page2 *ngIf="headerComponent.pageRequested === 2"></app-page2>
<app-page3 *ngIf="headerComponent.pageRequested === 5"></app-page3>
<!--  此处如果直接写入 [lastAccessed] = startTime 则无法被识别，
      需要在 footer component 中用 @Input decorator 来声明一个 bindable 变量-->
<app-footer #footer [lastAccessed] = startTime></app-footer>
<button (click)="updateLastAccessed()">Update Last Accessed</button>

